body {
  margin:0;
  font-family:'Segoe UI',sans-serif;
  background:#0f0f0f;
  color:white;
}

.topbar {
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10px 20px;
  background:#181818;
  position:sticky;
  top:0;
}

.logo {
  font-size:22px;
  font-weight:bold;
  color:red;
}

input {
  padding:8px;
  border-radius:20px;
  border:none;
  width:250px;
}

.section h2 {
  margin-left:20px;
  font-weight:500;
}

.row {
  display:flex;
  gap:15px;
  overflow-x:auto;
  padding:10px 20px;
}

.card {
  min-width:200px;
  border-radius:12px;
  overflow:hidden;
  transition:.3s;
  cursor:pointer;
}

.card img {
  width:100%;
  border-radius:12px;
}

.card:hover {
  transform:scale(1.1);
  box-shadow:0 10px 20px rgba(0,0,0,.6);
}

/* Modal */
.modal {
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,.8);
  justify-content:center;
  align-items:center;
}

.modal-content {
  width:60%;
  background:#111;
  padding:20px;
  border-radius:10px;
}

#closeBtn {
  float:right;
  font-size:24px;
  cursor:pointer;
}